.venv/
.env
/.idea/
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/ai_debugger.xml
/.idea/deployment.xml
/.idea/knowledge_base.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pyProjectModel.xml
/.idea/vcs.xml
/.idea/claudeCodeTabState.xml
